.timer__wrapper {
  border-radius: 24px;
  background-color: var(--text-shadow-color);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.timer__display {
  padding-inline: 1.5em;
  text-align: center;
}

.timer__display > p {
  font-size: 5em;
}

.button__wrapper {
  display: flex;
  width: 30vw;
  padding: 1em;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-device-width: 1280px) {
	.button__wrapper {
    margin: auto;
    width: 100%;
  }

	.timer__display > p {
    font-size: 3.8em;
    padding-left: 0;
  }
}